.hero__section {
  background-color: #f0f4fd;
}
.nav-link {
  color: #10193a !important;
  font-weight: 600;
}
.hero__signUp {
  padding: 5px 20px;
  color: #fff;
  font-weight: 700;
  background-color: #10193a;
  border-radius: 50px;
}
.hero__heading {
  line-height: 1.5em;
  font-weight: bold;
  margin: 30px 0px;
}
.hero__button {
  background-color: #10193a !important;
  font-weight: bold !important;
  color: #fff !important;
}

.cards {
  cursor: pointer;
  transition: transform 1000ms ease-out;
}

.cards:hover {
  transform: scale(1.07);
}
