.signInCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #727cf5;
  clip-path: circle(47.4% at 4% 24%);
}
.signUpCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #727cf5;
  clip-path: circle(47.4% at 91% 26%);
}
.signInSection .form-group {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #f5f6f6;
  border-radius: 20px;
  padding: 2px 20px;
}
.signInSection .form-group > .form-control {
  background-color: transparent;
  color: gray;
  border: none;
  outline-width: 0;
}
.socialMedia {
  display: flex;
  justify-content: center;
}
.socialMedia-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.4rem;
  border: 1px solid #727cf5;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .signInCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #727cf5;
    clip-path: circle(47.4% at 45% 7%);
  }
  .signUpCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #727cf5;
    clip-path: circle(47.4% at 36% 100%);
  }
}
